<div class="wrapper-default board-container" ng-cloak>
    <div class="slds-illustration slds-illustration_small undraw-illustration">
        <div class="illustration-container">
            <ng-include src="templates.404"></ng-include>
        </div>
        <div class="slds-text-longform">
            <h3 class="slds-text-heading_medium">Oops...</h3>
            <p class="slds-text-body_regular">Algo não saiu como o esperado! Por favor, navegue pela aplicação usando o <a ng-click="openMenu()">MENU</a> ao lado!</p>
        </div>
    </div>
</div>