.page-container{
    opacity: 1;
}

.page-cart-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.order-detail-header h2,
.order-detail-header h2 strong{
    font-size: 20px;
}
.cart-content{
    display: flex;
    width:900px;
    padding:0;
    border-radius: var(--border-radius);
    background-color: var(--color-white);
    min-height: 400px;
    max-width: 100%;
}
.cart-content button{
    user-select: none;
}
.cart-content table{
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
}
.cart-content table tr td{
   padding: 30px 15px;
}
.cart-content table tr td:first-of-type{
    width: 100px;
    text-align: center;
}
.cart-content .product-quantity-container{
    justify-content: center;
}

.cart-content .product-quantity-container button i{
    font-size:22px;
}

.cart-content .product-quantity-container input{
    font-size:18px;
}
.cart-content table tbody tr:not(:last-of-type) td {
    border-bottom: 1px solid var(--color-grey-DDD);
}
.cart-content img{
    width:80px;
    max-width: 80px;
    max-height: 80px;
    margin-bottom: 5px;
}
.cart-content p{
    color: var(--color-grey-666);
    font-size: 16px;
    text-align: left;
}
.cart-content h4{
    color: var(--color-blue);
    font-size: 18px;
    text-align: left;
}
.cart-content h3{
    color: var(--color-green);
    font-size: 24px;
    text-align: right;
}
.cart-summary{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 300px;
    border-radius: var(--border-radius);
    padding: 30px 15px;
    background-color: var(--color-white);
}
.cart-summary h1{
    color: var(--color-blue);
    font-size: 24px;
    font-weight: var(--bold);
    margin-bottom: 30px;
    text-align: center;
}
.cart-summary h2{
    color: var(--color-green);
    font-size: 24px;
    font-weight: var(--bold);
    text-align: center;
}
.cart-summary h3{
    color: var(--color-grey-70);
    font-size: 16px;
    font-weight: var(--regular);
    text-align: center;
}
.cart-summary div{
    text-align: center;
}
.cart-summary button{
    color: var(--color-white);
    font-size: 20px;
    font-weight: var(--bold);
    background-color: var(--color-green);
    border:0;
    border-radius: var(--border-radius);
    margin-top: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    width: 100%;
    cursor: pointer;
}
.cart-summary button:disabled{
    background-color: var(--color-grey-DDD);
    color: var(--color-grey-999);
    pointer-events: none;
    cursor: not-allowed;
    user-select: none;
}
.cart-summary .order-detail-summary-date{
    color: var(--color-blue);
    font-weight: var(--bold);
    font-size: 20px;
    margin-top: 40px;
}


/* MIN-WIDTH */
@media (min-width: 769px){
    .cart-content-quantity-price h3{
        display:none;
    }
    .cart-content .product-quantity-container button,
    .cart-content .product-quantity-container input{
    width:40px;
    height:40px;
}
} 
@media (min-width: 426px){

}

/* MAX-WIDTH */
@media (max-width: 1025px){
    .cart-content{
        width:700px;
        margin-right: 20px;
    }
    .cart-summary{
        width:285px;
    }
}
@media (max-width: 769px){
    .cart-content{
        width:500px;
        margin-right: 15px;
    }
    .cart-content .cart-content-price{
        display: none;
    }
    .cart-content .product-quantity-container{
        justify-content: flex-end;
        margin-top: 10px;
    }
    .cart-content p{
        font-size: 14px;
    }
    .cart-summary{
        width:226px;
    }
    .cart-summary h1,
    .cart-summary h2{
        font-size: 20px;
    }
    .cart-summary h3{
        font-size: 14px;
    }
    .cart-summary button{
        font-size: 16px;
    }
    .cart-summary .order-detail-summary-date{
        font-size: 16px;
    }
}

@media (max-width: 426px){
    .page-container{
        background-color: var(--color-white);
        padding: 15px 0;
        padding-bottom: 100px;
    }
    .page-cart-container{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .cart-summary{
        border-radius: 0;
    }
    .cart-summary button{
        display: none;
        pointer-events: none;
    }
    .cart-summary h1{
        margin-bottom: 15px;
    }
    .cart-summary h3{
        font-size: 20px;
    }
    .footer-cart.cart-confirm-button{
        background-color: var(--color-green);
        z-index: 20;
        user-select: none;
    }
    .footer-cart.cart-confirm-button .cart-icon span{
        background-color: var(--color-white);
        color: var(--color-green);
    }
    .footer-cart.cart-confirm-button.disabled{
        background-color: var(--color-grey-DDD);
        pointer-events: none;
        cursor: not-allowed;
    }
    .footer-cart.cart-confirm-button.disabled .footer-cart-item p,
    .footer-cart.cart-confirm-button.disabled .cart-icon i{
        color: var(--color-grey-999);
    }
    .footer-cart.cart-confirm-button.disabled .cart-icon span{
        color: var(--color-grey-DDD);
        background-color: var(--color-grey-999);
    }
}