<link href="{{CSS.orderDetails}}" rel="stylesheet"/>

<div class="page-container" ng-init="init()" ng-cloak>
    <header class="order-detail-header">
        <div class="back-link-container">
            <a href="#/pedidos"><i class="material-icons">arrow_back</i> Voltar para meus pedidos</a>
        </div>
        <h1 ng-if="config.loading.orderDetails">Carregando pedido...</h1>
        <h1 ng-if="!config.loading.orderDetails">Pedido #{{data.order.orderDetails.orderNumber}}</h1>
        <h2 ng-if="!config.loading.orderDetails">Pedido realizado para: <strong>{{data.order.orderDetails.accountName}}</strong></h2>
    </header>


    <section class="page-cart-container" ng-if="!config.loading.orderDetails">
        <div class="cart-content">
            <table>
                <tbody>
                    <tr ng-repeat="product in data.order.orderDetails.productList">
                        <td>
                            <a href="#/produto/{{order.product.id}}">
                                <img src="{{product.image}}"/>
                            </a>
                        </td>
                        <td>
                            <a href="#/produto/{{product.id}}">
                                <p>{{product.name}}</p>
                                <h4>{{formatPrice(product.unitPrice)}}</h4>
                            </a>

                        </td>
                        <td class="cart-content-quantity-price">
                            <h3>{{formatPrice(product.unitPrice * product.qtd)}}</h3>
                            <div class="product-quantity-container">
                                <input type="number" ng-model="product.qtd" readonly/>
                            </div>
                        </td>
                        <td class="cart-content-price">
                            <h3>{{formatPrice(product.unitPrice * product.qtd)}}</h3>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <aside class="cart-summary" ng-if="!config.loading.orderDetails">
            <h1>Total do pedido</h1>
            <div>
                <h2>{{formatPrice(data.order.orderDetails.totalAmount)}}</h2>
                <h3><strong>{{data.order.orderDetails.itemQuantity}}</strong> {{data.order.orderDetails.itemQuantity == 1 ? 'produto' : 'produtos'}}</h3>
                <h3 class="order-detail-summary-date">{{formatDate(data.order.orderDetails.effectiveDate, {day: '2-digit', month: 'long', year: 'numeric'})}}</h3>
            </div>
        </aside>
    </section>
</div>