.page-container{
    opacity: 1;
}
/* ORDER */
.page-container .order-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-height: 100%;
}

.page-container .order-header h2,
.page-container .order-header h2 span{
    font-size: 20px;
}
.page-container .order-header h2 span{
    font-weight: var(--bold);

    display: inline-flex;
    align-items: center;

    cursor: pointer;
}

.order-ul{
    display:flex;
    flex-direction: column;
    width: 100%;
    list-style: none;   
    margin-top: 30px;
}
.order-li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;

    height:140px;
    width: 100%;
    min-width: 360px;
    background-color: var(--color-white);
    border:1px solid var(--color-grey-DDD);
    border-radius: var(--border-radius);
    padding: 20px 30px;

    margin-bottom: 10px;
}

.order-li:not(:last-of-type){
    margin-bottom: 10px;
}
.order-info-container{
    display: flex;
    width: max-content;
}
.order-info-date-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: var(--color-blue);
    color:var(--color-white);
    height: 100px;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    border-radius: var(--border-radius);
}

.order-info-date-box h3{
    font-size: 32px;
}
.order-info-date-box h4{
    font-size: 12px;
}
.order-info{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.order-info-order-span-container,
.order-info-order-span-container .order-info-order-span-wrapper{
    display: flex;
    flex-direction: column;
}
.order-info-order-span-container .account-name{
    max-width: 100%;
    text-overflow: ellipsis;
}
.order-info span,
.order-info .order-info-order-span-container span,
.order-product-quantity{
    font-size: 16px;
    color: var(--color-grey-666);
}
.order-info span.order-info-number{
    font-size: 18px;
    font-weight: var(--bold);
}
.order-button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order-button-container a{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 200px;
    background-color: var(--color-orange-FF6600);
    font-size: 18px;
    color: var(--color-white);
    border-radius: var(--border-radius);
    outline-style: none;
    text-decoration: none;
    
    cursor: pointer;

    margin-bottom: 8px;
}
.order-price{
    font-size: 18px;
    color:var(--color-green) !important;
    font-weight: var(--bold);
}
/* MIN-WIDTH */
@media (min-width: 769px){
} 
@media (min-width: 426px){
    .mobile{
        display: none;
    }
}

/* MAX-WIDTH */
@media only screen and (max-width: 1024px){

}
@media only screen and (max-width: 768px){

}

@media only screen and (max-width: 425px){
    /* ORDER */
    .page-container.order-page{
        min-height: calc(100vh - 100px);
        background-color: var(--color-white);
    }
    .page-container .order-header h2,
    .page-container .order-header h2 span{
        font-size: 14px;
    }
    .desktop{
        display: none;
    }
    .order-ul{
        margin-top: 18px;
    }
    .order-li{
        padding: 15px;
        flex-direction: column;
    }
    .order-info-container,
    .order-button-container{
        width: 100%;
    }
    .order-info{
        width: 100%;
    }
    .order-info-order-span-container{
        flex-direction: row;
        justify-content: space-between;
    }
    .page-container .order-header{
        justify-content: flex-start;
        align-items: center;
    }
    .order-info-date-box{
        height: 60px;
        min-width: 60px;
        width: 60px;
    }
    .order-info-order-span-container,
    .order-info-order-span-container .order-info-order-span-wrapper{
        flex-direction: row;
    }
    .order-info-order-span-wrapper span{
        font-size: 18px !important;
    }
    .order-product-quantity{
        font-size: 14px;
    }
    .order-info-order-span-wrapper span:first-of-type:after{
        content: ':';
        margin-right: 5px;
    }
    .order-info-date-box h3{
        font-size: 20px;
    }
    .order-info-date-box h4{
        font-size: 10px;
    }
    .order-button-container{
        flex-direction: row;
        justify-content: space-between;
    }
    .order-button-container a{
        font-size: 16px;
        width: 150px;
    }
    /* MODAL */

}