/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

html,body{
    font-size: 62.5%;
    font-family: 'Open sans';
    height:100%;
    width:100%;
    background-color: var(--color-grey-light);
}
*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 1.6rem;
}

h1{
    font-size: 3.2rem;
}
h2{
    font-size:2.4rem;
}
h3{
    font-size:2.08rem;
}
h4{
    font-size:1.6rem;
}
h5{
    font-size:1.28rem;
}
h6{
    font-size:1.12rem;
}
a{
    text-decoration: none;
}

/* Remove setas dos inputs do tipo number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.main-container{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width:100%;
}

/* HEADER */
header{
    width:100%;
    min-height:10rem;
    background-color: var(--color-white);
}
.header-container{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 130rem;
    margin:0 auto;
    padding:0 3rem;
    min-height: 10rem;
}
header .header-logo a img{
    height: 5rem;
    cursor:pointer;
}
header .header-search-container form{
    height:5rem;
    width:50rem;
    border: 1px solid var(--color-grey-999);
    border-radius: 50px;
    padding:0 3rem;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    overflow:hidden;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
header .header-search-container form div{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height:100%;
}
header .header-search-container form label{
    position:absolute;
    z-index:1;
    color: var(--color-grey-AAA);
    font-size: 1.4rem;
}
.hide-label{
    -webkit-filter:opacity(0);
            filter:opacity(0);
}

header .header-search-container form input{
    width:100%;
    height:100%;
    border:0;
    outline:none;
    background-color: transparent;
    z-index:2;
    font-size: 1.4rem;
}
header .header-search-container form button{
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    background-color: transparent;
    border: none;
    margin-left: 1.5rem;
}
header .header-search-container form button i{
    font-size: 3.2rem;
    color: var(--color-grey-AAA);
}

header .profile-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
}
header .profile-container span{
    display:flex;
    justify-content:center;
    align-items: center;
    width:4rem;
    height:4rem;
    border-radius:50%;
    background-color: var(--color-blue);
}
header .profile-container span i{
    font-size: 3rem;
    color: var(--color-white);
}
header .profile-container .profile-menu{
    position: absolute;
    width:100%;
    top:100%;

    opacity:0;
    pointer-events: none;
    z-index:3;
}
header .profile-container:hover .profile-menu,
header .profile-container .profile-menu:hover{
    opacity:1;
    pointer-events: all;
}
header .profile-container .profile-menu ul{
    list-style: none;
    margin-top: 1.5rem;
    background-color: var(--color-white);
    border-radius:.8rem;
    box-shadow: 0 0 .8rem rgba(0,0,0,0.25);
    padding: 1.5rem;
}
header .profile-container .profile-menu ul li:not(:last-of-type){
    margin-bottom: 1rem;
}
header .profile-container .profile-menu ul li a{
    color: var(--color-grey-666);
    font-size: 1.4rem;
    cursor:pointer;
}
header .profile-container .profile-menu ul li a:hover{
    color:var(--color-blue)
}
header .profile-content{
    margin-left: 1rem;
    display:flex;
    flex-direction: column;
}
header .profile-content p {
    font-size: 1.4rem;
    color: var(--color-black);
}
header .profile-content a{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: var(--color-orange);
    cursor:pointer;
}
header .profile-content a i{
    font-size:1.4rem;
}
header .cart-container a,
.footer-cart span.cart-icon{
    position: relative;
    cursor:pointer
}
header .cart-container a i {
    font-size: 3.2rem;
    color: var(--color-blue)
}
header .cart-container a span,
.footer-cart span.cart-icon span{
    position: absolute;
    top: -2rem;
    left: calc(100% - 1.3rem);

    min-width: 1.6rem;
    font-size: 1.2rem;
    font-weight: var(--bold);
    padding: 0 .2rem;
    background-color: var(--color-yellow);
    color: var(--color-blue);
    border-radius:1.6rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* MODAL */
.modal-container{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    z-index:5;
    padding:15px;
    background-color: var(--color-black-opacity-3);
    

    display:flex;
    justify-content: center;
    align-items: center;

    opacity:0;
    pointer-events: none;
    transition: .2s linear;
}
.modal-container.active{
    opacity:1;
    pointer-events: all;
}
.modal-container .modal-box{
    display:flex;
    flex-direction: column;
    background-color: var(--color-white);
    width:900px;
    border-radius: var(--border-radius);
    overflow: auto;
    transform: scale(0);
    transition: .2s linear;
}
.modal-container.active .modal-box{
    transform: scale(1);
}

.modal-container .modal-box header{
    padding:15px;
    border-bottom: 1px solid var(--color-grey-DDD);
    background-color: transparent;
}
.modal-container .modal-box header h1{
    color: var(--color-black);
    font-size: 28px;
    font-weight: var(--bold);
}
.modal-container .modal-box header h2{
    color: var(--color-black);
    font-size: 22px;
    font-weight: var(--regular);
}
.modal-container .modal-box .modal-content{
    padding:15px;
}
.modal-container .modal-list{
    list-style: none;
    
}
.modal-container .modal-list-item{
    border:1px solid var(--color-grey-DDD);
    border-radius: var(--border-radius);
    padding:15px;
    margin-bottom: 5px;

    display:flex;
    justify-content: space-between;
    align-items: center;
}
.modal-container .modal-list-item h3,
.modal-container .modal-list-item p{
    color:var(--color-black)
}
.modal-container .modal-list-item h3{
    font-size: 22px;
    font-weight: var(--bold);
}
.modal-container .modal-list-item p{
    font-size: 16px;
    font-weight: var(--regular);
}
.modal-container .modal-list-item button{
    background-color: var(--color-orange);
    color: var(--color-white);
    min-height: 40px;
    min-width:120px;
    border:0;
    border-radius: var(--border-radius);
    font-size: 14px;
    font-weight: var(--bold);

    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

/* PAGE CONTAINER */
.page-container{
    display:flex;
    flex-direction: column;

    width: 100%;
    padding: 15px 30px;
    max-width: 1300px;
    margin: 0 auto;

    opacity: 0;
}
.page-container > header{
    background: transparent;
}
.page-container > header h1 {
    font-size: 30px;
    color: var(--color-grey-70);
    font-weight: var(--bold);
}
.page-container > header h2{
    font-size: 20px;
    color: var(--color-grey-70);
    font-weight: var(--regular);
}

/* PRODUCT QUANTITY */
.product-quantity-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.product-quantity-container button{
    height: 30px;
    width: 30px;
    border-radius: var(--border-radius);
    background-color: var(--color-orange-light);

    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    cursor: pointer;
}
.product-quantity-container button:disabled{
    background-color: var(--color-grey-DDD);
    pointer-events: none;
    cursor: not-allowed;
    cursor: -moz-not-allowed;
    cursor: -webkit-not-allowed;
}
.product-quantity-container button:disabled i{
    color: var(--color-grey-666)
}
.product-quantity-container button i{
    color: var(--color-orange);
    font-size: 14px;

}
.product-quantity-container button.product-quantity-add {
    width: 115px;
    background-color: var(--color-green);
    margin-left: 5px;
    font-size: 14px;
    font-weight: var(--bold);
    color: var(--color-white);
}
.product-quantity-container button.product-quantity-delete {
    background-color: var(--color-red-opacity-3);
}
.product-quantity-container button.product-quantity-delete i{
    color:var(--color-red);
    font-size: 20px;
}
.product-quantity-container button.product-quantity-add > *{
    cursor: pointer;
}
.product-quantity-container button.product-quantity-add i{
    color: var(--color-white);
}
.product-quantity-container input{
    width:30px;
    height:30px;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-grey-AAA);
    text-align: center;
    outline: none;
    margin:0 5px;
    font-size: 14px;
    font-weight: var(--bold);
}


@media only screen and (max-width: 1024px){
    /* HEADER */
    header .header-logo a img{
        height: auto;
        width:16rem;
    }
    header .header-search-container form{
        width:40rem;
    }
}
@media only screen and (max-width: 768px){
    /* HEADER */
    .header-container{
        padding: 0 1.5rem;
    }
    header .header-logo a img{
        width:14rem;
    }
    header .header-search-container form{
        height:4rem;
        width:30rem;
        padding:0 1.5rem;
    }
    header .header-search-container form button i{
        font-size: 2.4rem;
    }

    /* MODAL */
    .modal-container{
        padding:15px;
    }
    .modal-container .modal-box header h1{
        font-size: 22px;
    }
    .modal-container .modal-box header h2{
        font-size: 16px;
    }
    /* PRODUCT */
    .page-container{
        padding: 15px;
    }
}

@media (min-width: 426px){
    .footer-cart,
    .footer-menu{
        display: none;
    }
    .modal-container .modal-box{
        height:90vh;
    }
    .product-quantity-container button.product-quantity-add i{
        display: none;
    }
}

@media only screen and (max-width: 425px){
    /* HEADER */
 .header-container{
     flex-direction: column;
     justify-content:center;
 }
 header .profile-container,
 header .cart-container{
     display:none;
 }
 header .header-logo a img{
    height:3rem;
    width:auto;
}
header .header-search-container{
    width:100%;
}
header .header-search-container form{
    margin-top: 1rem;
    width:100%;
}

/* FOOTER CART*/
.footer-cart{
    position:fixed;
    bottom:50px;
    width:100%;
    left:0;
    right:0;

    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: var(--color-orange);
    box-shadow: 4px 4px 8px rgba(0,0,0,0.25);
    min-height: 50px;
}

.footer-cart span.cart-icon span{
    top: -0.7rem;
}
.footer-cart span.cart-icon i{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: var(--color-white);
}
.cart-icon{
    display:inline-block;
}
.footer-cart-item{
    flex:1;
}
.footer-cart-item-text{
    display:flex;
    justify-content: center;
    align-items: center;
}
.footer-cart-item-price{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.footer-cart-item p{
    color: var(--color-white);
    font-size: 16px;
    font-weight: var(--bold);
}
/* FOOTER MENU*/
.footer-menu{
    position:fixed;
    bottom:0;
    width:100%;
    left:0;
    right:0;
    
    z-index:5;

    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: var(--color-white);
    box-shadow: 4px 4px 8px rgba(0,0,0,0.25);
    min-height: 50px;
}
.footer-menu .footer-menu-item{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-menu .footer-menu-item span{
    height:28px;
}
.footer-menu .footer-menu-item i {
    font-size: 28px;
    color: var(--color-grey-999)
}
.footer-menu .footer-menu-item p{
    font-size: 12px;
    color:var(--color-grey-666)
}
.footer-menu .footer-menu-item.active i,
.footer-menu .footer-menu-item.active p{
    color: var(--color-blue)
}

/* MODAL */

.modal-container{
    height: calc(100% - 50px);
    padding:0;
}
.modal-container .modal-box{
    width:100%;
    height:100%;

    border-radius: 0;
}

.modal-container .modal-box header h1,
.modal-container .modal-box header h2{
    text-align: center;
}
.modal-container .modal-box header h2{
    padding:0 40px;
}
.modal-container .modal-box .modal-list-item div h3{
    font-size: 16px;
}
.modal-container .modal-box .modal-list-item div p{
    font-size: 12px;
}
.modal-container .modal-box .modal-list-item button{
    width:100px;
    font-size: 12px;
}

.page-container{
    padding-bottom:100px;
}
.page-container > header h1{
    font-size: 22px;
    text-align: center;
    justify-content: center;
}
.page-container > header h2{
    font-size: 14px;
    text-align: center;
}
/* PRODUCT QUANTITY */
.product-quantity-container button.product-quantity-add label{
    display:none;
}
.product-quantity-container button.product-quantity-add{
    width:30px;
}
}


/* UTIL */
.noselect {
    -webkit-touch-callout: none; 
      -webkit-user-select: none; 
         -moz-user-select: none; 
          -ms-user-select: none; 
              user-select: none;
}
