<link href="{{CSS.cart}}" rel="stylesheet" />

<div class="page-container" ng-init="init()">
    <header>
        <h1>Carrinho</h1>
        <h2>Comprando para: <strong>{{data.account.name}}</strong></h2>
    </header>

    <section class="page-cart-container">
        <div class="cart-content">
            <table>
                <tbody>
                    <tr ng-repeat="product in data.cart.productList">
                        <td>
                            <a href="#/produto/{{product.id}}">
                                <img src="{{product.image}}" />
                            </a>
                        </td>
                        <td>
                            <a href="#/produto/{{product.id}}">
                                <p>{{product.name}}</p>
                                <h4>{{formatPrice(product.price)}}</h4>
                            </a>

                        </td>
                        <td class="cart-content-quantity-price">
                            <h3>{{formatPrice(product.price * product.qtd)}}</h3>
                            <div class="product-quantity-container">
                                <button ng-click="removeProductQuantity(product)" ng-if="product.qtd > 1">
                                    <i class="material-icons">remove</i>
                                </button>
                                <button ng-click="deleteFromCart(product)" ng-if="product.qtd <= 1"
                                    class="product-quantity-delete">
                                    <i class="material-icons">delete</i>
                                </button>
                                <input type="number" ng-model="product.qtd" readonly />
                                <button ng-click="addProductQuantity(product)">
                                    <i class="material-icons">add</i>
                                </button>
                            </div>
                        </td>
                        <td class="cart-content-price">
                            <h3>{{formatPrice(product.price * product.qtd)}}</h3>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <aside>
            <div class="cart-summary">
                <h1>Total da compra</h1>
                <div>
                    <h2>{{formatPrice(getCartPrice())}}</h2>
                    <h3><strong>{{getCartQuantity()}}</strong> produtos</h3>
                </div>
                <button ng-click="handle_setOrder()"
                    ng-disabled="getCartQuantity() < 1 || config.loading.setOrder || getProgressBarPercentage() < 100">{{config.loading.setOrder ? 'Enviando
                    pedido...' : 'Comprar'}}</button>
            </div>
            <div class="cart-summary minimum-order-wrapper">
                <label for="progress-bar">Pedido mínimo</label>
                <div id="progress-bar">
                    <div id="progress-value" class="{{getProgressBarPercentage() >= 100 ? 'progress-completed' : ''}}" style="width: {{getProgressBarPercentage()}}%"></div>
                </div>
                <p ng-if="getRemainingToAchieveMinimum() > 0">Faltam <span>{{formatPrice(getRemainingToAchieveMinimum())}}</span> para o pedido mínimo</p>
                <p ng-if="getRemainingToAchieveMinimum() <= 0">Pedido mínimo atingido</p>
            </div>
        </aside>
    </section>
    <!-- Mobile -->
    <a ng-click="handle_setOrder()" href="#/carrinho"
        class="footer-cart cart-confirm-button {{config.loading.setOrder && 'disabled'}} {{getProgressBarPercentage() < 100 ? 'hide-element' : ''}}" ng-if="getCartQuantity() > 0">
        <div class="footer-cart-item">
            <span class="cart-icon">
                <i class="material-icons">shopping_cart</i>
                <span>{{getCartQuantity()}}</span>
            </span>
        </div>
        <div class="footer-cart-item footer-cart-item-text">
            <p>{{config.loading.setOrder ? 'Enviando...' : 'Comprar'}}</p>
        </div>
        <div class="footer-cart-item footer-cart-item-price">
            <p>{{formatPrice(getCartPrice())}}</p>
        </div>
    </a>

</div>