<link href="{{CSS.home}}" rel="stylesheet"/>

<div class="page-container" ng-init="init()">
    <header>
        <h1 ng-if="!data.search">Conheça nosso catálogo</h1>
        <h1 ng-if="data.search">Você buscou por: {{data.search}} <span class="clean-search" ng-click="data.search = null"><i class="material-icons">close</i></span></h1>
        <h2 ng-if="!config.loading.productList">Exibindo {{(data.productList | filter:data.search).length}} produtos</h2>
        <h2 ng-if="config.loading.productList">Carregando catálogo... Aguarde...</h2>
    </header>

    <section class="product-list-container">
        <div class="product-card" ng-repeat="product in data.productList | filter:data.search">
            <a class="product-card-content">
                <img src="{{product.image}}"/>
                <p>{{product.name}}</p>
                <h3>{{formatPrice(product.price)}}</h3>
            </a>
            <div class="product-quantity-container">
                <button ng-click="removeProductQuantity(product)" ng-disabled="product.qtd <= 1">
                    <i class="material-icons">remove</i>
                </button>
                <input type="number" ng-model="product.qtd" readonly/>
                <button ng-click="addProductQuantity(product)">
                    <i class="material-icons">add</i>
                </button>
                <button class="product-quantity-add" ng-click="addProductToCart(product)">
                    <label>Adicionar</label>
                    <i class="material-icons">add_shopping_cart</i>
                </button>
            </div>
        </div>
    </section>
</div>